.cart-page {
    padding: 0 5rem;
    min-height: 90vh;

    .cart-header{
        font-size: 25px;
        font-weight: 400;
        padding: 4rem 0 3rem;
        border-bottom: 1px black solid;
    }

    .total {
        font-size: 2rem;
        font-weight: 500;
    }

    @media screen and (max-width:600px) {
        padding: 0 0.5rem;
       
    }
}

.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div{
        width: 20rem;
        height: 20rem;
        margin: auto;
    }

    p{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 300;
    }
}