.checkout .checkout__header {
  text-align: center;
  border-bottom: 1px solid black;
  font-weight: 400;
  font-size: 2rem;
  padding-top: 1rem;
}

.checkout .checkout__page {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  border: 1px solid green;
  border-radius: 5px;
}

.checkout .checkout__page .main__cart {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-right: 1px solid green;
  position: relative;
}

.checkout .checkout__page .main__cart .cart__header {
  text-align: center;
  border-bottom: 1px solid green;
  font-size: 2rem;
  font-weight: 200;
}

.checkout .checkout__page .main__cart .cart__item {
  margin-top: 1rem;
  padding-bottom: 20px;
  padding-left: 10px;
  border-bottom: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout .checkout__page .main__cart .cart__item .cart__item__left {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout .checkout__page .main__cart .cart__item .cart__item__left label {
  font-size: 20px;
}

.checkout .checkout__page .main__cart .cart__item .cart__item__left span {
  font-size: 20px;
  font-weight: 300;
}

.checkout .checkout__page .main__cart .cart__item .cart__item__right {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.checkout .checkout__page .main__cart .cart__item .cart__item__right .cart__item__img {
  width: 120px;
  height: 120px;
  border: 1px solid green;
}

.checkout .checkout__page .main__cart .cart__item .cart__item__right .cart__item__img img {
  width: 100%;
  height: 100%;
}

.checkout .checkout__page .main__cart .costs {
  width: 100%;
  border-top: 2px solid green;
}

.checkout .checkout__page .main__cart .costs div {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout .checkout__page .main__cart .costs div label {
  font-size: 1.5rem;
  font-weight: 300;
}

.checkout .checkout__page .main__cart .costs div span {
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .checkout .checkout__page .main__cart .costs {
    position: relative;
  }
}

@media screen and (max-width: 480px) {
  .checkout .checkout__page .main__cart {
    border-right: none;
    border-bottom: 1px solid green;
  }
}

.checkout .checkout__page .main__checkout {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.checkout .checkout__page .main__checkout h5 {
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  padding: 0.75rem 0;
}

.checkout .checkout__page .main__checkout .form {
  padding: 1rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.checkout .checkout__page .main__checkout .form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.checkout .checkout__page .main__checkout .form div label {
  font-size: 20px;
  font-weight: 200;
  padding-bottom: 10px;
}

.checkout .checkout__page .main__checkout .form div input {
  height: 3rem;
  font-size: 1.3rem;
  padding: 5px 10px;
}

.checkout .checkout__page .main__checkout .form div input::-webkit-input-placeholder {
  font-weight: lighter;
  font-size: 0.9rem;
}

.checkout .checkout__page .main__checkout .form div input:-ms-input-placeholder {
  font-weight: lighter;
  font-size: 0.9rem;
}

.checkout .checkout__page .main__checkout .form div input::-ms-input-placeholder {
  font-weight: lighter;
  font-size: 0.9rem;
}

.checkout .checkout__page .main__checkout .form div input::placeholder {
  font-weight: lighter;
  font-size: 0.9rem;
}

.checkout .checkout__page .main__checkout .form div input:focus {
  outline: 1px green solid;
}

@media screen and (max-width: 960px) {
  .checkout .checkout__page .main__checkout .form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
  }
}

.checkout .checkout__page .main__checkout .button__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 1rem 1rem;
}

.checkout .checkout__page .main__checkout .button__div button {
  background-color: green;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.checkout .checkout__page .main__checkout .button__div button:hover {
  background-color: #3abc3a;
}

@media screen and (max-width: 480px) {
  .checkout .checkout__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.empty p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}
/*# sourceMappingURL=Checkout.css.map */