.attribute-header{
    padding: 0.5rem 0 0.3rem;
    font-size: x-large;
    font-weight: 500;
}

.attribute-btn {
    padding: 7.5px 15px;
    margin-right: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}